@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  @apply bg-gray-200;
}

.feedback-error{
  @apply hidden text-sm;
}
.form.validated input:invalid{
  @apply border-red-500;

}

.form.validated input:invalid  ~ .feedback-error{
  @apply block;   
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}